body {
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0;
    padding: 1rem;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
  }
  
 img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
  }

  .topo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    padding-top: 2rem;
  }

  .name{
    display: flex;
    flex-direction: column;
  }

  .name #ms{
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 3px;
    color: #396759;
  }

  .name #nick{
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 3px;
    color: #396759;
  }

.principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  padding-top: 2rem;
}
  .pesquisa {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .pesquisa input {
    width: 100%;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-right: 10px;
  }
  
  .pesquisa button {
    background-color: #539b43;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pesquisa button:hover {
    background-color: #396759;
  }

  .center{
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    flex-direction: column;
  }


  .block {
    margin-top: 4rem ;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    gap: 20px;
  }
  

  
  .block a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 150px;
    background-color: #539b43;
    color: #fff;
    border-radius: 16px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .block a:hover {
    background-color: #396759;
  }
  
  .block .icon {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .block .title {
    font-size: 14px;
    text-align: center;
  }