body {
    background: #b0dcd0;
}

.main-container-styles {
    width: 100%;
    height: 20vh;
    overflow: hidden;
    background: rgb(0, 165, 137);
}

.left-style {
    width: 57%;
    background: rgb(0, 165, 137);
    position: absolute;
    top: -3px;
    left: 0;
    height: 25%;
    transform: rotate(15deg);
}

.rigth-style {
    width: 52%;
    background: rgb(0, 165, 137);
    position: absolute;
    top: 0;
    right: 17px;
    height: 25%;
    transform: rotate(-15deg);
}

main {
    margin-top: 15%;
}

.attemption-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 8px;
    padding: 4px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    font-size: 14px;
}

.prevent-title {
    position: absolute;
    left: 5%;
    top: 5%;
    text-transform: uppercase;
    width: 90%;
    font-size: 36px;
    text-align: center;
    color: rgb(31, 68, 77);
}

.preventions-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.preventions-list li {
    font-size: 16px;
    font-weight: 600;
}

@media screen and (min-width: 370px) {
    .left-style {
        top: -2px;
    }

    .rigth-style {
        width: 55%;
    }
}